<section class="mt-0 mb-auto lg:mt-auto lg:mb-0 w-full relative lg:h-[calc(var(--vh,1vh)*100-70px)] lg:pt-0 px-[10px] lg:px-[20px] lg:space-x-[20px] lg:pb-[20px] scrollbar-hide">

    <div class="hidden w-full overflow-hidden swiper lg:block" x-data="horizontalScroller($el)">
        <div class="w-full h-full swiper-wrapper">

            <div
                class="swiper-slide pt-[calc(100vh-530px)] lg:!w-[673px] big-mutha:pt-[calc(100vh-660px)] big-mutha:!w-[700px] mt-[35px] h-full pb-[40px] lg:pb-0 text-[34px] leading-[30px] md:text-[46px] md:leading-[40px] laptop:text-[51px] laptop:leading-[45px] uppercase big-mutha:text-[60px] big-mutha:leading-[54px] font-medium" style="text-indent: 50px;">
                {{ positioning_statement | nl2br }}
            </div>
    
            {{ collection:projects sort="order" }}
            <div
                class="swiper-slide pt-[calc(100vh-530px)] lg:!w-[450px] big-mutha:pt-[calc(100vh-660px)] big-mutha:!w-[600px] h-full relative flex flex-col [animation-delay:0.5s] group space-y-[5px] lg:space-y-[15px] " style="text-indent: 50px;"
            >
                <h2 class="uppercase text-[24px] leading-none font-medium">{{ title }}</h2>
                <figure class="relative w-full overflow-hidden aspect-[152/135]">
                    {{ thumbnail_image }}
                    <img class="absolute top-0 left-0 object-cover w-full h-full transition-transform duration-700 ease-out group-hover:scale-105" src="{{ url }}" alt="">
                    {{ /thumbnail_image }}
                </figure>
                <a class="absolute z-10 bottom-0 left-0 w-full h-[450px] big-mutha:h-[580px]" href="{{ url }}"></a>
            </div>
            {{ /collection:projects }}
        </div>
        <div class="hidden swiper-scrollbar"></div>
    </div>

    {{# mobile version #}}
    <div class="flex flex-col w-full lg:hidden gap-y-[5px]" x-data="verticalScroller($el)">
        <div class="js-loop-block flex flex-col gap-y-[5px]">
            <div class="!h-auto w-full mt-[40px] pb-[40px] lg:pb-0 text-[34px] leading-[30px] md:text-[46px] md:leading-[40px] laptop:text-[51px] laptop:leading-[45px] uppercase font-medium" style="text-indent: 50px;">
                {{ positioning_statement | nl2br }}
            </div>
            
            {{ collection:projects sort="order" }}
            <div class="!h-auto w-full h-0 relative flex flex-col [animation-delay:0.5s] group space-y-[5px] lg:space-y-[15px] ">
                <h2 class="uppercase text-[24px] leading-none font-medium">{{ title }}</h2>
                <figure class="relative w-full overflow-hidden aspect-[152/135]">
                    {{ thumbnail_image }}
                    <img class="absolute top-0 left-0 object-cover w-full h-full transition-transform duration-700 ease-out group-hover:scale-105" src="{{ url }}" alt="">
                    {{ /thumbnail_image }}
                </figure>
                <a class="absolute inset-0 z-10" href="{{ url }}"></a>
            </div>
            {{ /collection:projects }}
        </div>
    </div>


</section>
