<div class= "uppercase font-medium pt-[70px] pb-[25px]" x-intersect="$el.classList.add('animate-fade-in')"> ACCOLADES </div>

<section class="grid grid-cols-12 gap-x-[24px] border-t pt-[25px] pb-[70px] ">

  <div
  x-intersect="$el.classList.add('animate-fade-in')"
  class="font-medium col-span-12 tablet:col-span-5 opacity-0 pb-[25px]">
  {{ year_1 }}
</div>

<div
x-intersect="$el.classList.add('animate-fade-in')"
class="col-span-5 tablet:col-span-4 opacity-0">
{{ projects_1 }}
</div>

<div
x-intersect="$el.classList.add('animate-fade-in')"
class="col-span-6 tablet:col-span-3 opacity-0">
{{ awards_1 }}
</div>
</section>

<section class="grid grid-cols-12 gap-x-[24px] border-t pt-[25px] pb-[70px] ">

  <div
  x-intersect="$el.classList.add('animate-fade-in')"
  class="font-medium col-span-12 tablet:col-span-5 opacity-0 pb-[25px]">
  {{ year_2 }}
</div>

<div
x-intersect="$el.classList.add('animate-fade-in')"
class="col-span-5 tablet:col-span-4 opacity-0">
{{ projects_2 }}
</div>

<div
x-intersect="$el.classList.add('animate-fade-in')"
class="col-span-6 tablet:col-span-3 opacity-0">
{{ awards_2 }}
</div>
</section>

<section class="grid grid-cols-12 gap-x-[24px] border-t border-b pt-[25px] pb-[70px]">

<div
x-intersect="$el.classList.add('animate-fade-in')"
class="font-medium col-span-12 tablet:col-span-5 opacity-0 pb-[25px]">
{{ year_3 }}
</div>

<div
x-intersect="$el.classList.add('animate-fade-in')"
class="col-span-5 tablet:col-span-4 opacity-0">
{{ projects_3 }}
</div>

<div
x-intersect="$el.classList.add('animate-fade-in')"
class="col-span-6 tablet:col-span-3 opacity-0">
{{ awards_3 }}
</div>
</section>

