<section
    x-intersect="$el.classList.add('animate-fade-in-up')"
    class="mb-[80px] font-medium uppercase [text-indent:65px] flex flex-row justify-between content-end items-end text-[34px] leading-[30px] md:text-[46px] md:leading-[40px] laptop:text-[51px] laptop:leading-[45px] big-mutha:text-[60px] big-mutha:leading-[54px]"
>
    <div class="w-full break-normal no-break-mobile lg:w-6/12">
        {{ content }}
    </div>
    <div class="hidden lg:block">
        {{ svg src="icon-down-arrow" }}
    </div>
</section>
