<div class= "uppercase font-medium py-[25px]" x-intersect="$el.classList.add('animate-fade-in')"> {{ heading }} </div>

<section class="md:grid grid-cols-12 gap-x-[24px]">
    <div class="flex flex-col justify-between col-span-6 border-t tablet:h-[305px] py-[25px]">
        <div class="pb-[40px] tablet:pb-[0px]" x-intersect="$el.classList.add('animate-fade-in')"> {{ content }} </div>
        <div class="" x-intersect="$el.classList.add('animate-fade-in')">
        <div class="font-medium uppercase text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px]"> {{ name }} </div>
        <div class="font-medium text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px]"> {{ title_company }} </div>
    </div>
    </div>

    <div class="flex flex-col justify-between col-span-6 border-t tablet:h-[305px] py-[25px]">
        <div class="pb-[40px] tablet:pb-[0px]" x-intersect="$el.classList.add('animate-fade-in')"> {{ content_2 }} </div>
        <div x-intersect="$el.classList.add('animate-fade-in')">
        <div class="font-medium uppercase text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px]"> {{ name_2 }} </div>
        <div class="font-medium text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px]"> {{ title_company_2 }} </div>
    </div>
    </div>

    <div class="flex flex-col justify-between col-span-6 border-y tablet:h-[305px] py-[25px]">
        <div class="pb-[40px] tablet:pb-[0px]" x-intersect="$el.classList.add('animate-fade-in')"> {{ content_3 }} </div>
        <div x-intersect="$el.classList.add('animate-fade-in')">
        <div class="font-medium uppercase text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px]"> {{ name_3 }} </div>
        <div class="font-medium text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px]"> {{ title_company_3 }} </div>
    </div>
    </div>
    
    <div class="flex flex-col justify-between col-span-6 border-y tablet:h-[305px]] py-[25px]">
        <div class="pb-[40px] tablet:pb-[0px]" x-intersect="$el.classList.add('animate-fade-in')"> {{ content_4 }} </div>
        <div x-intersect="$el.classList.add('animate-fade-in')">
        <div class="font-medium uppercase text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px]"> {{ name_4 }} </div>
        <div class="font-medium text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px]"> {{ title_company_4 }} </div>
    </div>
    </div>

</section>
