<a
    href="{{ link }}"
    x-intersect="$el.classList.add('animate-fade-in')"
    class="relative flex-inline opacity-0 [animation-delay:0.{{count}}s]  after:content-[''] after:w-full overflow-hidden group after:translate-y-[40px] after:transition-transform after:ease-e group-hover:text-white group-hover:after:translate-y-0 hover:after:translate-y-0  after:absolute after:top-0 after:left-0 after:bg-black after:h-[40px] px-[20px] text-[18px] leading-none tracking-[-0.02em] flex flex-row h-[40px] uppercase justify-center items-center rounded-[100px] border border-current"
>
    <span class="relative z-50 font-medium transition-colors group-hover:text-white">{{ link_title }}</span>
</a>
